/* Header.css */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Righteous&family=Roboto&display=swap');
    /* font-family: 'Aboreto', cursive;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif; */
.intro {
    font-size: 3rem;
    padding: 50px;
    text-align: left;
    width: 50%;
    word-spacing: 1rem;
    font-family: Righteous;
  }
@media (max-width:400px){
  .left{
    margin:0;
    text-align: left;
  }
  .intro{
    font-size: 1rem;
    width: 30vw;
    text-align: left;
  }
  .right{
    margin:0px;
  }
  .right>img{
    width: 200px;
    position: static;
  }
  .movingText{
    display: flex;
    text-align: left;
  }
  h1{
    font-size: small;
  }
}
  
  .color {
    color: purple;
  }
.left{
    display: flex;
}

.right{
    font-size: 1.5rem;
}

.pointer{
  width: 30vw;
  padding: 20px;
  border-radius: 30px;
  margin-top: 10px;
  overflow: hidden;
  background: palegoldenrod;
}


.pointer:hover{
  animation: trans 0.5s;
  background-color: plum;
  cursor: pointer;

}
.pointer:hover>.pointerImg{
  transform: rotate(90deg) ;

}

@keyframes trans {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: scale(1);
  }
}

.pointerImg{
  transition: transform 1s ;
  width: 100px;
  margin-left: 30px;
}