nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navbar */
nav{

    position: sticky;
    top:0;
    z-index: 100;
    display: flex;    
    justify-content: center;
}
nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s ;
  animation: bounce 0.5s;
}



nav ul li a:hover {
  background-color: #333;
  color: #fff;
}
@media (min-width:500px){
  .menu{
    display: none;
  }
  .small{
    display: none;
  }
  nav{
    position: sticky;
    top:0;
    z-index: 100; 
  } 
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
@media (max-width:500px){
  .menu{
    display: block;
    overflow: hidden;
  }
  .large{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
  nav ul li {
    display: flex;
    flex-direction: column-reverse ;
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}