
.project-list{
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}
.project-title{
    text-align: left;
    color: white;
    overflow: hidden;
    margin: 10px;
  }
  
  .project-description {
    display: flex;
    margin: 10px;
    padding: 10px;
    overflow: auto;
  }
  
  .project-description::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .project-description::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .project-description::-webkit-scrollbar-thumb {
    background-color: red; /* Color of the scrollbar */
    border-radius: 10px; /* Rounded corners */
  }
  
 /* Track */
 
/* Handle */
  
  .card-image{
    margin-top: 15px;
    width: 250px;
    height: 300px;
    border-radius: 3px;
  }
  .card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: #282c34;
    color: white;
    margin: 10px;
    border-radius: 5px ;
  
  }
  .view{
    overflow: hidden;
  }